
<div class="container">
    <h1 class="alert alert-success">Liste des Entreprises</h1>
  <button class="btn btn-success mb-2">  <a routerLink="/formulaireEntreprise">Ajouter entreprise</a></button>
</div>
<div class="container">
          <ul  *ngFor="let en of dataEntre" class="list-group">
            <li class="list-group-item">
            <p>Nom de L'entreprise: {{en.nomEntreprise}}<br>
                Type: {{en.typeEntreprise}}<br>
                NINEA: {{en.ninea}}<br>
                NATURE: {{en.nature}}<br>
                Email: {{en.email}}<br>
                Web: {{en.web}}<br>
                ID Fiscale: {{en.idFiscale}}<br>
                Adresse: {{en.adresse}}
            </p>
             <span> <button type="submit" class="btn btn-primary mb-2">Modifier</button>
                </span>
                <span></span>
                <span> <button type="submit" class="btn btn-danger mb-2" (click)="deleteEntre(en.idEntreprise)">Supprimer</button>
                </span>
            </li>
            
          </ul>
</div>
