
   <div class="container" style="width: 700px" >
    <h1 class="alert alert-success"> <span  class="card-title">Page pour Creation d'entreprises</span></h1>
  <div class="alert alert-danger"  >
    <p><em>renseigner les informations aux champs ci dessous</em></p>
</div>
<div class="form-group mb-2">
<form >
  <ul>
<li>
  <label>Nom de L'entreprise:</label>
    <input type="text" pattern="^[a-zA-Z0-9]{1,90}$"  class="form-control" [(ngModel)]="entreprises.nomEntreprise" name="nomEntreprise" placeholder=" nom de l'entreprise" required >
  
</li> 
<li>
  <label>Web:</label>
      <input type="url" class="form-control"  [(ngModel)]= "entreprises.web" name="web"  placeholder=" entrer web" required >
  
</li>
<li>
  <label>NINEA:</label>
      <input type="text" class="form-control"  [(ngModel)]="entreprises.ninea" name="ninea"  placeholder=" entrer NINEA" required >
  
</li>
<li>
  <label>Type Entreprise:</label>
  <select class="form-control"  [(ngModel)]= " entreprises.typeEntreprise" name="typeEntreprise" required>
      <option>SARL</option>
        <option>SA</option>
  </select>
  
</li>

<li>
  <label>Email:</label>
      <input type="text" class="form-control" [(ngModel)]="entreprises.email" name="email"   placeholder="Email" required>

</li>
<li> 
    <label>NATURE:</label>
    <select class="form-control" [(ngModel)]="entreprises.nature" name="nationalite" required>
        <option>Reseaux/Telecommunication</option>
        <option>Informatique</option>
        <option>Gestions/Comptables</option>
        <option>Commerce</option>
    </select>
    
       
  </li>
  <li>
  <label>Adresse:</label>
      <input type="adresse" class="form-control"  [(ngModel)]="entreprises.adresse" name="adresse"  placeholder=" entrer Adresse"  required>
  
</li>
</ul>

  <button type="submit" class="btn btn-primary mb-2" (click)="createEntreprise()" >Valider</button>

</form>
</div>
</div>


