   <div class="container" style="width: 700px" >
    <h1 class="alert alert-success"> <span  class="card-title">Page de Creation pour citoyen</span></h1>
  <div class="alert alert-danger">
    <p><em> Renseigner les informations aux champs ci dessous</em></p>
</div>
<div class="form-group mb-2">
<form >
  <ul>
<li>
  <label>Nom:</label>
    <input type="text" class="form-control" [(ngModel)]="citoyen.nom" name="nom" placeholder=" entrer votre nom" >
  
</li> 
<li>
  <label>Prenom:</label>
      <input type="text" class="form-control"  [(ngModel)]="citoyen.prenom" name="prenom"  placeholder=" entrer votre prenom" >
  
</li>
<li>
  <label>Sexe:</label>
  <select class="form-control"  [(ngModel)]= " citoyen.sexe " name="sexe">
      <option>M</option>
        <option>F</option>
  </select>
  
</li>

<li>
  <label>Lieu de naissance:</label>
      <input type="text" class="form-control" [(ngModel)]="citoyen.lieuNaissance" name="lieuNaissance"   placeholder=" entrer votre lieu de naissance" >

</li>
<li> 
  <label>Date de Naissance:</label>
      <input type="date" class="form-control" [(ngModel)]="citoyen.dateNaissance" name="dateNaissance"  placeholder=" entrer votre mot de passe">
</li>
<li> 
    <label>Nationalite:</label>
    <select class="form-control" [(ngModel)]="citoyen.nationalite" name="nationalite">
        <option>SN</option>
        <option>MT</option>
        <option>ML</option>
        <option>GN</option>
    </select>
    
       
  </li>
</ul>

  <button type="submit" class="btn btn-primary mb-2" (click)="createCitoyen()">Valider</button>

</form>
</div>
</div>

