
<div class="container">
    <h1 class="alert alert-success">La liste des citoyens</h1>
 <button  class="btn btn-success mb-2"><a routerLink="/formulaireCitoyen">Ajouter citoyen</a></button>
</div>

<div class="container">
          <ul  *ngFor="let citoyen of data" class="list-group">
            <li class="list-group-item">
               <p>Nom: {{citoyen.nom}} <br>
                ID: {{citoyen.id}} 
               Prenom: {{citoyen.prenom}}<br> 
               Date de Naissance: {{citoyen.dateNaissance | date:"dd/MM/yyyy"}}<span>--</span> 
               Lieu de Naissance: {{citoyen.lieuNaissance}}<br>
               Sexe: {{citoyen.sexe}}<span>--</span>
               Nationalite: {{citoyen.nationalite}} 
               </p>
               <span> <button type="submit" class="btn btn-primary mb-2"  >Modifier</button>
                </span>
                <span></span>
                <span> <button type="submit" class="btn btn-danger mb-2" (click)="deleteCitoyens(citoyen.id)" >Supprimer</button>
                </span>
            </li>
          </ul>
</div>

