<div class="container">
<nav class="navbar navbar-light bg-light ">
    <button class="btn btn-outline-success ">   <a  routerLink="">Home</a> </button>
     <button class="btn btn-outline-success ">   <a  routerLink="/listeCitoyens">liste des citoyens</a> </button>
      <button class="btn btn-outline-success">  <a  routerLink="/listeEntreprises">liste des entreprises</a></button>
        
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
  </form>
</nav>
</div>
